body {
  background-color: #353B3F;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height: 1.4;
  /* margin-right: auto;
  margin-left: auto; */
  padding: 10px 10px;
  align-items: center;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}