$text-color: #ffffff;
$text-grey: #757575;
$text-black: #000000;
$text-more: #72b0ed;
$text-red: #CC2F29;
$background-input: #f2f2f2;
$background-main: #17181c;
$background-card: #ffffff;
$btn-hoover: #c6ff50;
$btn-normal: #7ebffb;
$card-height: 230px;
$text-not-found: #5d5e61;
$text-copiright: #313129;
